.bg-color1{
    background: #C4DBE9;
} 

.bg-color2{
    background: #EAF0FB;
}

.bg-color3{
    background: #FFFEFF;
}

.bg-color4{
    background: #39A3C0;
}

.bg-color5{
    background: #69B6CF;
}

.bg-color6{
    background: #7DC5DF;
}

.my-20{
    margin-top: 10%;
}